@model Mvc2NorthwindSortOrder.ViewModels.PagingViewModel


<select id="pageSize" asp-for="PageSize" asp-items="Model.PageSizeOptions">
</select>

@{
    int p = 1;
}
<nav aria-label="Page navigation example">
    <ul class="pagination">

        @if (Model.ShowPrevButton)
        {

            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" onclick="window.location.href=updateQueryStringParameter(window.location.href,'page', '@(Model.CurrentPage-1)')">
                    <span aria-hidden="true">Prev</span>
                </a>
            </li>
        }

        @foreach (var page in Model.GetPages)
        {
            if (page == "...")
            {
                <li class="page-item disabled">...</li>
            }
            else
            {
                p = Convert.ToInt32(page);
                <li class="page-item  @(Model.CurrentPage == p ? "active" : "")"><a class="page-link" href="#" onclick="window.location.href=updateQueryStringParameter(window.location.href,'page', '@p')">@p</a></li>
            }

        }

        @if (Model.ShowNextButton)
        {
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" onclick="window.location.href=updateQueryStringParameter(window.location.href,'page', '@(Model.CurrentPage+1)')">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
        }
    </ul>
</nav>



    <script>
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }
        $("#pageSize").on("change", function () {
            var newVal = $("#pageSize").val();
            window.location.href = updateQueryStringParameter(window.location.href, 'pageSize', newVal);
        });
    </script>



